# Build fileds
build/

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Editor
.vscode
